<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card bg-dark">
      <div class="card-body">
        <form action="/update/<%= excursion.id %>" method="POST">
            <input
            type="text"
            name="descripcion"
            value="<%= excursion.descripcion %>"
            placeholder="Descripción"
            class="form-control mb-2"
            autofocus
          />
          <input
            type="date"
            name="fecha"
            value="<%= excursion.fecha %>"
            placeholder="Fecha"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="precio"
            value="<%= excursion.precio %>"
            placeholder="Precio"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="estado"
            value="<%= excursion.estado %>"
            placeholder="Estado"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="lugar"
            value="<%= excursion.lugar %>"
            placeholder="Lugar"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="capacidad"
            value="<%= excursion.capacidad %>"
            placeholder="Capacidad"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="imagen"
            value="<%= excursion.imagen %>"
            placeholder="Imagen"
            class="form-control mb-2"
          />

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
