<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card-body">
        <form action="/add" method="POST" enctype="multipart/form-data">


          <input
            type="text"
            name="descripcion"
            placeholder="Descripción"
            class="form-control mb-2"
            autofocus
          />
          <input
            type="date"
            name="fecha"
            placeholder="Fecha"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="precio"
            placeholder="Precio"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="estado"
            placeholder="Estado"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="lugar"
            placeholder="Lugar"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="capacidad"
            placeholder="Capacidad"
            class="form-control mb-2"
          />
          <input
            type="hidden"
            name="imagen"
            placeholder="Image"
            class="form-control mb-2"
          />

          <input type="file" name="image" accept="image/*" />

          <button type="submit" class="btn btn-info">Guardar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <table class="table table-dark table-bordered table-hover">
        <thead>
          <tr>
            <td>n°</td>
            <td>Descripción</td>
            <td>Fecha</td>
            <td>Precio</td>
            <td>Estado</td>
            <td>Lugar</td>
            <td>Capacidad</td>
            <td>Imagen</td>
            <td class="text-center">Acciones</td>
          </tr>
        </thead>
        <tbody>
          <% if (excursiones) { %> <% for(var i = 0; i < excursiones.length;
          i++) { %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= excursiones[i].descripcion %></td>
            <td><%= excursiones[i].fecha %></td>
            <td><%= excursiones[i].precio %></td>
            <td><%= excursiones[i].estado %></td>
            <td><%= excursiones[i].lugar %></td>
            <td><%= excursiones[i].capacidad %></td>
            <td><%= excursiones[i].imagen %></td>
            <td class="d-flex gap-2">
              <a href="/update/<%= excursiones[i].id %>" class="btn btn-info">
                Editar
              </a>
              <a href="/delete/<%= excursiones[i].id %>" class="btn btn-danger">
                Eliminar
              </a>
            </td>
          </tr>
          <% } %> <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>

